# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 75806d268f4093d0b1df52f23902ff2d1de5b9585664b9d111f4ed1e742b97b98ea62ef34d7995e908988e6bf85f827dee5ca07d695383bd03264d5dca0a2bdc

test:
  secret_key_base: e22eb455ed6cf367e73d6e885d43fc12b169a317bd0de1d17a4f6de18ba7199fd92ab1a56ffb268dfac4c099fbe54191d2ece9d4f077db4510cfe1b4c97287be

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
